@charset "UTF-8";
@font-face {
    font-family: PoppinsRegular;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

* {
    font-size: 100%;
    font-family: PoppinsRegular;
}

body {
    margin: 0px;
    height: 100%;
}

.cabecalho {
    display: flex;
    padding: 30px 8px;
    height: 25px;
    width: 100%;
    background-color: yellow;
}

.logo a {
    width: 168;
    height: 28;
    float: left;
    padding-right: 10px;
}

.search {
    display: flex;
    height: 36px;
    border-radius: 6px;
}

.search input {
    display: flex;
    border-radius: 6px 6px 6px 6px;
    width: 500px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}